apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-deployment
spec:
  selector:
    matchLabels:
      app: java-deployment
  replicas: 3
  template:
    metadata:
      labels:
        app: java-deployment
    spec:
      containers:
      - name: java-spring-boot  
        image: tushargayakwad/java-images:latest
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: java-deployment
spec:
  selector:
    app: java-deployment
  ports:
    - protocol: TCP 
      port: 1029
      targetPort: 8080
  type: NodePort
