version: '2.2'

services:
  app:
    image: spring-boot-1
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "2910:8080"

    # environment:
    #   - H2_OPTIONS='-ifNotExists'
