name: Java App Deployment

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: |
          echo "${DOCKER_PASSWORD}" | docker login -u "${DOCKER_USERNAME}" --password-stdin

      - name: Build and Push Docker image
        run: |
          docker build -t tushargayakwad/java-images .
          docker push tushargayakwad/java-images
      
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f deployment.yml 
          minikube service java-deployment --url
